<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body{ background-color: #fefffc; } #f3
      .name5,.code5,.age5,.depart5,.mt-3{margin: 30px;font-size: 30px;}
    </style>
  </head>
  <body>
    <h1>createNewSubject</h1>

    <form id="f3" action="/subjects" method="POST">
      {{! Name }}
      <div class="name5">
        <label for="">Name</label>

        <input type="text"  name="name" />
      </div>
      {{! Code }}
      <div class="code5">
        <label for="">Code</label>

        <input type="text" name="code" />
      </div>
      {{! Age }}

      {{! Department }}
      <div class="depart5">
        <label for="">Department</label>

        <select name="department" id="" >
          {{#each departments}}

            <option value="{{_id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
      {{! doctor }}
      <div class="doctor">
        <label for="">Doctor</label>

        <select name="doctorId" id="" >
          {{#each doctors}}
            <option value="{{_id}}">{{username}}</option>
          {{/each}}
        </select>
      </div>

      <div class="mt-3">
        <button class="btn btn-outline-secondary" type="submit">save</button>
      </div>

    </form>

  </body>
</html>